body{
    margin: 0;
    padding: 0;
    height: 100%;
}

/*header*/

header{
    background-color: #222;
    margin: 0;
    padding: 0;
}

a{
    /*font-family: 'MuseoModerno', cursive;*/
    font-family: 'Open Sans', sans-serif;
}

.navbar-brand{
    margin: 0 3%;
}

h1{
    margin-bottom: 0;
    text-align: center;
    font-family: 'MuseoModerno', cursive;
    font-size: 4.5vw;
    background-image: linear-gradient(to right, #3fb6ce, #baeaf4 55%, #f4baf0 40%, #dd1137);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text
    
}

.premier{
    background-color: #222;
    margin: 0;
    padding: 0;
}

/*carousel*/


.slide{
   /* padding-bottom: 2%;*/
    background-color: #222;
}

/*exemples*/


.exemples{
    padding-bottom: 10%;
}

.merveilles{
    background-color: #222;
}

.open{
    margin: auto;
    padding: 3%;
    font-size: 2vw;
    font-family: 'Open Sans', sans-serif;
    color: #baeaf4;
    text-shadow: 1px 1px 1px #baeaf4;
    text-align: center;
    width: 40em;


    position: relative;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #baeaf4, #000, #baeaf4);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
      
    @keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
    }


.card{
    margin:auto auto 3% auto;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width: 25rem;
   
}

.angle1{
    display:flex;
    justify-content:space-between;
    background: url('afood.png') no-repeat center center;
    background-size: cover;
    height: 15rem;
}

.angle2{
    display:flex;
    justify-content:space-between;
    background: url('ifood.jpg') no-repeat center center;
    background-size: cover;
    height: 15rem;
}

.angle3{
    display:flex;
    justify-content:space-between;
    background: url('rfood.jpg') no-repeat center center;
    background-size: cover;
    height: 15rem;
}

.image-coin{
    width:8vw;
    height:6vw;
    border-radius: 10px;
    box-shadow: 0 15px 50px #222;
    border: 3px solid white;
}

    /*footer*/

footer{
     background-color: rgb(54, 54, 54);
}

.footer{
     margin-bottom: 0;
    text-align: center;
    font-family: 'MuseoModerno', cursive;
    font-size: 2vw;
    background-image: linear-gradient(to right, #3fb6ce, #baeaf4 30%, #dd1137);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text
}

/* a propos*/

.parallax {
    /* The image used */
    background: url('macaron.jpg');
  
    /* Full height */
    height: 50em;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.presentation, .col-md-1{
    background-color: #222;
    padding-bottom: 5%;
}

.museo{
    margin: auto;
    padding-top: 3%;
    font-size: 3vw;
    font-family: 'MuseoModerno', cursive;
    color: #baeaf4;
    text-shadow: 1px 1px 1px #baeaf4;
    text-align: center;
 
    position: relative;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #baeaf4, #000, #baeaf4);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
      
    @keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
    }

.quisuisje{
    padding: 0 5% 3% 5%;
    background-color: #222;
}

h3{
    font-family: 'MuseoModerno', cursive;
    text-align: center;
    color: #baeaf4;
}

hr{
    background-color:#dd1137 ;
    width: 60px;
    height: 2px;
}

.moi{
    padding: 5%;
    font-family: 'Open Sans', sans-serif;
    color: #baeaf4;
    text-align: center;
}

.image{
    background-image: url('foodtruck.jpg');
    background-size: cover;
    height: 30em;
}

    /*Nos Merveilles*/

.florilege{
    background-color: rgb(230, 230, 230);
    padding: 5% 0;
}

.petit{
    margin: auto;
    padding-top: 3%;
    font-size: 2.2vw;
    font-family: 'Open Sans', sans-serif;
    color: #baeaf4;
    text-shadow: 1px 1px 1px #dd1137;
    text-align: center;
    width: 35em;
 
    position: relative;
    text-transform: uppercase;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #baeaf4, #222, #baeaf4);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
      
    @keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
    }

.dessert{
    background-color: rgb(230, 230, 230);
    margin: auto;
    padding-bottom: 7%;
}

.dessert .card .gateau:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
     -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
         transform: scale(1.5);
}

.dessert .card .gateau{
    -webkit-transition: all .5s cubic-bezier( .6, 2, .4, 1);
    -moz-transition: all .5s cubic-bezier( .6, 2, .4, 1);
     -ms-transition: all .5s cubic-bezier( .6, 2, .4, 1);
      -o-transition: all .5s cubic-bezier( .6, 2, .4, 1);
         transition: all .5s cubic-bezier( .6, 2, .4, 1); 
}

.dessert .card{
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 15px 50px #222; 
}

/*préstations*/

.parallax2 {
    /* The image used */
    background: url('wedvan.png');
  
    /* Full height */
    height: 50em;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.quisuisje{
    padding: 0 5% 3% 5%;
    background-color: #222;
}

.wedding{
    padding: 5%;
    font-family: 'Open Sans', sans-serif;
    color: #baeaf4;
    text-align: center;
}

.image3{
    background-image: url('wedcake.jpg');
    background-size: cover;
    height: 20em;
}

.image4{
    background-image: url('wedding.jpg');
    background-size: cover;
    height: 20em;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: transparent;
    border: 2px solid #dd1137;
    color: #dd1137;
    text-align: center;
    font-size: 1.7vw;
    padding: 2px;
    width: 10em;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }